[Unit]
Description=MOD-ALA-PI-STOMP
After=modep-mod-ui.service
Requires=modep-mod-ui.service

[Service]
Environment=HOME=/home/patch
WorkingDirectory=/home/patch
ExecStart=/usr/bin/python3 /home/patch/pi-stomp/modalapistomp.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
