[Unit]
Description=TouchOsc2Midi service
After=network-online.target
Wants=network-online.target
BindsTo=network-online.target avahi-daemon.service

[Service]
ExecStart=/usr/local/bin/touchosc2midi

[Install]
WantedBy=multi-user.target
