[Unit]
Description=TTYMIDI
After=mod-host.service
Requires=mod-host.service

[Service]
Environment=HOME=/home/pistomp
WorkingDirectory=/home/pistomp
Environment=JACK_PROMISCUOUS_SERVER=jack
ExecStart=/usr/local/bin/ttymidi -s /dev/ttyAMA0 -b 38400
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
