[Unit]
Description=TTYMIDI
After=modep-mod-host.service
Requires=modep-mod-host.service

[Service]
Environment=HOME=/home/patch
WorkingDirectory=/home/patch
ExecStart=/usr/local/bin/ttymidi -s /dev/ttyAMA0 -b 38400
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
