[Unit]
Description=MOD MIDI Broadcaster
After=jack.service
Requires=jack.service
BindsTo=jack.service
[Service]
RemainAfterExit=yes
Environment=JACK_PROMISCUOUS_SERVER=jack
ExecStart=/usr/local/bin/jack_load mod-midi-broadcaster
ExecStop=/usr/local/bin/jack_unload mod-midi-broadcaster
Restart=always
RestartSec=2
[Install]
WantedBy=multi-user.target
