[Unit]
Description=MOD-UI
After=mod-host.service
After=browsepy.service
Requires=mod-host.service
Requires=browsepy.service

[Service]
LimitRTPRIO=95
LimitMEMLOCK=infinity
Environment=HOME=/home/pistomp/data
Environment=LV2_PATH=/home/pistomp/.lv2
Environment=LV2_PLUGIN_DIR=/home/pistomp/.lv2
Environment=LV2_PEDALBOARDS_DIR=/home/pistomp/data/.pedalboards
Environment=MOD_DEV_ENVIRONMENT=0
Environment=MOD_DEVICE_WEBSERVER_PORT=80
Environment=MOD_LOG=0
Environment=MOD_APP=0
Environment=MOD_LIVE_ISO=0
Environment=MOD_SYSTEM_OUTPUT=1
Environment=MOD_DATA_DIR=/home/pistomp/data
Environment=MOD_USER_FILES_DIR=/home/pistomp/data/user-files
Environment=MOD_HTML_DIR=/usr/local/share/mod/html
Environment=JACK_PROMISCUOUS_SERVER=jack
Environment=PATCHSTORAGE_API_URL=https://patchstorage.com/api/beta/patches
Environment=PATCHSTORAGE_PLATFORM_ID=8046
Environment=PATCHSTORAGE_TARGET_ID=8280

ExecStart=/usr/bin/authbind /usr/local/bin/mod-ui
User=pistomp
Group=pistomp
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
